.fondo-heather {
    background: url(../images/fondo-heather.png);
    background-size: 100%;
    font-family: Nunito;
    width: 100%;
    /* margin-top: -52px; */
}
.fondoSemi{
    
    background: url(../images/fondosemi.png);
    background-size: 100%;
    font-family: Nunito;
    width: 100%;
    margin-top: -80px;
}
/* .fondo-video{
    background: url(../images/fondo-video2.png);
    background-size: 100%;
    font-family: Nunito;
    width: 100%;
    margin-top: -123px;
}
.fondo-como-se-juega{
    background: url(../images/fondo-como-se-juega2.png);
    background-size: 100%;
    font-family: Nunito;
    width: 100%;

}
.fondo-dispositivo-favorito{
    background: url(../images/fondo-dispositivo-favorito2.png);
    background-size: 100%;
    font-family: Nunito;
    width: 100%;
    margin-top: -72px;
} */
/* body {
    background: url(../images/fondocompleto.png);
    background-size: 100%;
    font-family: Nunito;
    color: var(--negro);
} */