@font-face {
    font-family: Fredoka One;
    src: url(../fonts/FredokaOne-Regular.ttf);
}


@font-face {
    font-family: Nunito;
    src: url(../fonts/Nunito-Regular.ttf);
}

@font-face {
    font-family: Nunito-medium;
    src: url(../fonts/Nunito-Medium.ttf);
}

@font-face {
    font-family: Nunito-bold;
    src: url(../fonts/Nunito-Bold.ttf);
}
@font-face {
    font-family: Nunito-SemiBold;
    src: url(../fonts/Nunito-SemiBold.ttf);
}