
@media screen and (min-width: 1650px) {
    .container-wrapper {
        justify-content: center;
        padding-left: 8em;
    }
}

@media screen and (max-width: 1366px) {

    .start-game {
        width: 650px;
    }

    .container-header {
        padding: 0 1em;
    }

    .container-wrapper {
        min-width: 1024px;
    }

    
}

@media screen and (max-width: 1240px) {

    section {
        padding-left: 3.2rem;
        padding-right: 3.2rem;
    }

    .que__es__content {
        display: grid;
        grid-template-columns: 1fr 1fr;
        max-width: 100%;
    }

    .content-footer {
        background: url(../images/fondo-footer.png);
        background-size: cover;
        background-position: right;
        padding: 50px 30px;
        display: flex;
        justify-content: center;
        gap: 100px;
        box-shadow: 0px -4px 10px 0px #00000026;
    }

    .como__se__juega__container {
        grid-template-columns: 1fr 600px;
        padding-bottom: 200px;
    }

    .como__se__juega__caption {
        margin-top: 110px;
        padding-top: 50px;
    }

}


@media screen and (max-width: 1050px) {

    .como__se__juega {
        background-image: url(../images/como-se-juega-sudoku-mobile.png);
        background-position: center
    }

    .como__se__juega.english {
        background-image: url(../images/como-se-juega-sudoku-mobile-eng.png);
        background-position: center
    }


    .como__se__juega__hidden {
        display: block;
        height: 800px;
    }

    .como__se__juega__container {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        gap: 250px;
    }

    .como__se__juega__caption {
        margin-top: -130px;
    }
    .title-how-to-play{
        text-align: center;
    }
    .Titulo_Final{
        width: 100%;

    }
   .fondo-dispositivo-favorito{
        padding: 5px;
    }

    .como__se__juega__caption .titulo {
        text-align: center;
        margin: 0 auto 25px;
    }

    .como__se__juega__paragraph {
        text-align: center;
        font-size: 1.8rem;

        background-color: #f0f0f0; /* Color de fondo sutil */
        border-radius: 10px; /* Bordes redondeados */
        padding: 10px 15px; /* Espaciado interno (padding) */
        border: 1px solid #ddd; /* Borde sutil */
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra sutil */
        transition: background-color 0.3s, border-color 0.3s; /* Transición suave */
      
    }

    /*     .como__se__juega__hidden img{
        display: block;
        max-width: 450px;
        width: 90%;
        margin: 0 auto;
    } */

}



@media screen and (max-width: 1024px) {
    .container-wrapper {
        padding: 0;
        min-width: auto;
    }

    header {
        padding: 1rem;
    }

    .banner {
        display: none;
    }

    .bodypage {
        margin: auto;
        /* padding: 30px; */
        border-radius: 15px;
    }


    .ad_vertical {
        display: none;
    }

    .game__container {
        justify-content: center;
    }

    .game .caption,
    .content__caption {
        max-width: 95%;
        margin: auto;
    }

    .start-game {
        width: 100%;
        max-width: 95%;
        margin: 50px auto;
    }

    .content-footer {
        background-position: center center;
        justify-content: space-evenly;
    }

    .HowToPlay{
        display: flex;
      justify-content: center;
    }
}


@media screen and (max-width: 1000px) {
    header{
        height: 140px;
    }
    .logo{
        margin-top: -10px;
        margin-left: 0px;
        padding: 0px;
    }
    .logo img{
        width: 100%;
    }
    .container-header{
        height: 85px;
        gap: 20px;
    }
    
    .navigation ul li a{
        font-size: 35px;
    }
    .que__es__image img {
        max-width: 780px;
        width: 100%;
    }
    .imageCentrado img {
        width: 515px;
    }
    .imageCentrado{
        margin-left: 230px;
    }
    .caption__descripcion p {
        font-size: 4.3rem;
        background-color: #f0f0f0;
        border-radius: 10px;
        padding: 10px 15px;
        border: 1px solid #ddd;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        transition: background-color 0.3s, border-color 0.3s;
    }
    
    .descarga__el__juego__parrafo{
        font-size: 5.2rem;
    }
    
    .descarga__el__juego .tiendas img{
        width: 415px;
    }
    .img__premio img{
        max-width: 455px;
        width: 100%;
    }
    .caption__title .title{
        font-size: 4rem;
    }
    .caption__title img{
        width: 100px;
        height: 100px;
    }
    .como__se__juega__paragraph{
        font-size: 4.3rem;
        width: 730px;
        margin-left: -105px
        }
    .como__se__juega__hidden{
            margin-top: 1165px;
     } 
     
.video__paragraph{
    font-size: 4.3rem;
    background-color: #f0f0f0;
    border-radius: 10px;
    padding: 10px 15px;
    border: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, border-color 0.3s;
    margin-top: 45px;
}   

.descarga__el__juego {        margin-top: 80px;
    margin-bottom: -30px;
}
.language {
    position: relative;
    width: 260px;
}
.descarga__el__juego_final{
    margin-top: 270px;
        margin-bottom: -205px;
}
.language .current {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 3rem;
    font-family: Fredoka One;
    gap: 7px;
    border: 2px solid #FFF;
    border-radius: 20px;
    padding: 7px 18px;
    cursor: pointer;
}
.current img{
    width: 20%;
}
.icono-drop img {
    width: 25px;
}
.como__se__juega__container {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    gap: 250px;
    margin-top: 170px;
}
    .que__es__content {
        display: flex;
        flex-direction: column-reverse;
        gap: 20px;
        width: 100%;
        margin-left: 0px;
    }
    .Centrado_Final{
        margin-top: -265px;
    }

    
    

    .descarga__el__juego__parrafo {
        text-align: center;
        margin: 0 auto;
    }


    .descarga__el__juego .tiendas {
        justify-content: center;
    }


    .logo-hero img {
        display: block;
        margin: 0 auto 40px;
        width: 80%;
    }

    .widget iframe{
        width: 90%;
    }
    .caption__title{
        width: 280px;
    }

    .banner__premios{
        padding: 20px 16px;
    }

    .content__caption {
        flex-direction: column;
        gap: 30px;
    }

    .img__premio{
        gap: 45px;
    }
    .img__descarga {
        display: flex;
    }

    .img__descarga img {
        width: 85%;
        max-width: 350px;
        margin: auto;
    }

    .caption-celular h2 {
        text-align: center;
    }

    .juega-celular .caption-celular p {
        width: 80%;
        margin: auto;
        text-align: center;
    }

    .content__text-store {
        width: 90%;
        margin: auto;
    }

    .content__text-store .download {
        justify-content: center;
    }
    .content__premios{
        flex-direction: column;
        align-items: center;
    }
    
    
    .title-how-to-play{
        width: 135%;
        margin-left: -50px;
    }
    .title-how-to-play span{
        font-size: 9rem;
    }
    .title-video span{
        font-size: 9rem;
    }
    .title-dispositivo-favorito span{
        font-size: 7rem;
    }
    .widget{
        width: 100%;

    }
    .widget iframe{
        width: 100%;
    }
    
    
    .tiendas a{
        width: 45%;
        padding: 10px;
    }
    .como__se__juega__caption{
        margin-left: -220px;
        margin-top: -185px;
        width: 100%;
    }
    footer{
        margin-top: -5px;
    }

.Centrado_Final{
    width: 90%;
        margin-left: 35px;
        margin-top: -130px;
}
.caption_final{
    margin-top: 80px;
    height: 405px;
}
.redes{
    width: 240px;
}
.content-redes img{
    width: 70px;
}

.content-redes a{
    font-size: 35px;
}

.redes h3{
    font-size: 3.5rem;
}
     
    
}


@media screen and (max-width: 900px) {

    .caption__title .title{
        font-size: 3rem;
    }

    .caption__title{
        width: 280px;
    }

    .banner__premios{
        padding: 20px 16px;
    }

    .content__caption {
        flex-direction: column;
        gap: 30px;
    }

    .img__premio{
        gap: 45px;
    }
    .img__premio img{
        width: 365px;
    }

    .img__descarga {
        display: flex;
    }

    .img__descarga img {
        width: 85%;
        max-width: 350px;
        margin: auto;
    }

    .caption-celular h2 {
        text-align: center;
    }

    .juega-celular .caption-celular p {
        width: 80%;
        margin: auto;
        text-align: center;
    }

    .content__text-store {
        width: 90%;
        margin: auto;
    }

    .content__text-store .download {
        justify-content: center;
    }
    .content__premios{
        flex-direction: column;
        align-items: center;
    }
    header{
        height: 120px;
    }
    .navigation ul li a{
        font-size: 30px;
    }
    .container-header{
        height: 85px;
    }
    .que__es__image img {
        max-width: 490px;
        width: 100%;
    }
    .logo{
        margin-top: -10px;
        margin-left: 0px;
        padding: 2px;
    }
    .title-how-to-play{
        width: 135%;
        margin-left: -50px;
    }
    .title-how-to-play span{
        font-size: 9rem;
    }
    .title-video span{
        font-size: 9rem;
    }
    .title-dispositivo-favorito span{
        font-size: 7rem;
    }
    .widget{
        width: 100%;

    }
    .widget iframe{
        width: 100%;
    }
    .caption__descripcion p {
        font-size: 3.2rem;
        background-color: #f0f0f0;
        border-radius: 10px;
        padding: 10px 15px;
        border: 1px solid #ddd;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        transition: background-color 0.3s, border-color 0.3s;
    }
    
    .descarga__el__juego__parrafo{
        font-size: 4rem;
    }
    .tiendas a{
        width: 45%;
        padding: 10px;
    }
    .descarga__el__juego .tiendas img{
        width: 335px;
    }
    .como__se__juega__caption{
        margin-left: -220px;
        margin-top: -185px;
        width: 100%;
    }
    .caption__title img{
        width: 100px;
        height: 85px;
    }
    footer{
        margin-top: -5px;
    }
    .como__se__juega__paragraph{
        font-size: 3.2rem;
        width: 730px;
        margin-left: -105px
        }
    .como__se__juega__hidden{
        margin-top: 145px;
    }

.video__paragraph{
    font-size: 3.2rem;
    background-color: #f0f0f0;
    border-radius: 10px;
    padding: 10px 15px;
    border: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, border-color 0.3s;
    margin-top: 45px;
}
.Centrado_Final{
    width: 90%;
        margin-left: 35px;
        margin-top: -250px;
}
.caption_final{
    margin-top: 80px;
    height: 405px;
}
.descarga__el__juego{
    margin-top: 25px;
    margin-bottom: -35px;
}
.redes{
    width: 175px;
}
.content-redes img{
    width: 55px;
}

.content-redes a{
    font-size: 25px;
}
.redes h3{
    font-size: 3.5rem;
}
        .imageCentrado{
        margin-left: 150px;
    }
    .imageCentrado img {
        width: 380px;
    }
}


@media screen and (max-width: 850px) {
    .content__premios{
        flex-direction: column;
        align-items: center;
    }
    header{
        height: 120px;
    }
    .navigation ul li a{
        font-size: 25px;
    }
    .container-header{
        height: 85px;
    }
    .que__es__image img {
        max-width: 490px;
        width: 100%;
    }
    .logo{
        margin-top: -10px;
        margin-left: 20px;
        padding: 5px;
    }
    .widget{
        width: 100%;

    }
    .widget iframe{
        width: 150px;
    }
    .caption__descripcion p {
        font-size: 3rem;
        background-color: #f0f0f0;
        border-radius: 10px;
        padding: 10px 15px;
        border: 1px solid #ddd;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        transition: background-color 0.3s, border-color 0.3s;
    }
    
    .descarga__el__juego__parrafo{
        font-size: 4rem;
    }
    .tiendas a{
        width: 45%;
        padding: 10px;
    }
    .descarga__el__juego .tiendas img{
        width: 335px;
    }
    .como__se__juega__caption{
        margin-left: -145px;
        margin-top: -185px;
        width: 100%;
    }
    .caption__title img{
        width: 100px;
        height: 85px;
    }
    footer{
        margin-top: -5px;
    }
    .como__se__juega__paragraph{
        font-size: 2.8rem;
        width: 650px;
        margin-left: -105px
        }
    .como__se__juega__hidden{
        margin-top: 145px;
    }

.video__paragraph{
    font-size: 3rem;
    background-color: #f0f0f0;
    border-radius: 10px;
    padding: 10px 15px;
    border: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, border-color 0.3s;
    margin-top: 45px;
}
.Centrado_Final{
    width: 90%;
        margin-left: 35px;
        margin-top: -250px;
}
.caption_final{
    margin-top: 80px;
    height: 405px;
}
.descarga__el__juego{
    margin-top: 25px;
    margin-bottom: -35px;
}
.redes{
    width: 175px;
}
.content-redes img{
    width: 55px;
}

.content-redes a{
    font-size: 25px;
}
.redes h3{
    font-size: 3.5rem;
}
        .imageCentrado{
        margin-left: 150px;
    }
    .imageCentrado img {
        width: 380px;
    }
}
@media screen and (max-width: 768px) {

    .game {
        display: none;
    }
    .que__es__image{
        width: 100%;
    }
    header{
        height: 100px;
    }
    .container-header{
        height: 85px;
    }
    .logo{
        margin-top: -10px;
        margin-left: 20px;
    }
    .caption__descripcion p {
        font-size: 3rem;
        background-color: #f0f0f0;
        border-radius: 10px;
        padding: 10px 15px;
        border: 1px solid #ddd;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        transition: background-color 0.3s, border-color 0.3s;
    }
    .descarga__el__juego__parrafo{
        font-size: 4rem;
    }
    .tiendas a{
        width: 45%;
        padding: 5px;
    }
    .descarga__el__juego .tiendas img{
        width: 295px;
    }
    .como__se__juega__caption{
        margin-left: -145px;
        margin-top: -185px;
        width: 100%;
    }
    footer{
        margin-top: -5px;
    }
    .como__se__juega__paragraph{
        font-size: 2.8rem;
        width: 650px;
        margin-left: -105px
        }
    .como__se__juega__hidden{
        margin-top: 145px;
    }

.video__paragraph{
    font-size: 3rem;
    background-color: #f0f0f0;
    border-radius: 10px;
    padding: 10px 15px;
    border: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, border-color 0.3s;
    margin-top: 45px;
}
.Centrado_Final{
    width: 90%;
        margin-left: 35px;
        margin-top: -250px;
}
.caption_final{
    margin-top: 80px;
    height: 405px;
}
.descarga__el__juego{
    margin-top: 120px;
    margin-bottom: -145px;
}
.redes{
    width: 175px;
}
.content-redes img{
    width: 55px;
}

.content-redes a{
    font-size: 25px;
}
.redes h3{
    font-size: 3.5rem;
}
        .imageCentrado{
        margin-left: 150px;
    }
    .imageCentrado img {
        width: 300px;
    }
    .close-bar,
    .menu_bar {
        display: block;
        cursor: pointer;
    }

    .navigation {
        right: 0;
        top: 0;
        width: 0;
        position: absolute;
        padding: 0;
        background: linear-gradient(192.72deg, #8338EC 10.28%, #5104BC 82.11%);
        display: flex;
        align-items: center;
        min-height: 100%;
        overflow: hidden;
        z-index: 100;
        transition: 300ms ease all;
    }

    .navigation.open {
        position: absolute;
        width: 300px;
        padding: 20px 30px;
        right: 0;
        top: 0;
        z-index: 100;
        min-height: 100%;
        background: linear-gradient(192.72deg, #8338EC 10.28%, #5104BC 82.11%);
        display: flex;
        align-items: center;
        transition: 300ms ease all;
    }

    .close-bar {
        position: absolute;
        right: 20px;
        top: 20px;
        cursor: pointer;
    }

    .navigation ul {
        flex-direction: column;
        gap: 100px;
    }

    .logo img {
        width: 150px;
    }

    .navigation ul li {
        width: 100%;
    }

    .navigation ul li a {
        font-size: 2.2rem;
    }

    .bodypage {
        min-width: auto;
    }

    .content__text-store .download {
        gap: 15px;
    }

    /* GAME */
    .game .caption {
        flex-direction: column;
    }

    h1 {
        text-align: center;
    }

    .select-dificult {
        display: grid;
        grid-template-columns: repeat(2, 130px);
        row-gap: 60px
    }


    .juega-celular .caption-celular {
        flex-direction: column;
    }

    .juega-celular .caption-celular p {
        width: auto;
        text-align: center;
    }

    .juega-celular .caption-celular .img__descarga img {
        margin-top: 50px;
    }

    .download {
        margin-top: 50px;
        flex-wrap: wrap;
    }

    .como__se__juega__container {
        padding-bottom: 0;
    }

    /* Premios */

    .banner__premios{
        background-position: left center;
    }

    .content__premios{
        flex-direction: column;
        align-items: center;
    }


}




@media screen and (max-width: 600px) {
    .table__game .table {
        position: relative;
        width: 375px;
        height: 400px;
    }

    header{
        width: 100%;
        height: 125px;
    }
    .imageCentrado{
        margin-left: 110px;
    }
    .caption__descripcion{
        margin-top: -30px;
        width: 90%;
        margin-left: 30px;
    }
    .play__btn {
        position: relative;
        z-index: 2;
        width: 250px;
        font-size: 25px;
    }

    .titulo {
        font-size: 2.2rem;
    }

    section {
        padding: 1.6rem;
        margin: 50px -7px;
    }

    .caption__descripcion p {
        font-size: 2.5rem;

        background-color: #f0f0f0; /* Color de fondo sutil */
        border-radius: 10px; /* Bordes redondeados */
        padding: 10px 15px; /* Espaciado interno (padding) */
        border: 1px solid #ddd; /* Borde sutil */
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra sutil */
        transition: background-color 0.3s, border-color 0.3s; /* Transición suave */
      
    }
    .caption_final{
        margin-top: 50px;
    }
    .bg_final{
        margin-top: 5px;
        height: 500px;
    }
    footer{
        margin-top: 295px;
    }
    .descarga__el__juego__parrafo {
        width: 100%;
    }

    .descarga__el__juego .tiendas {
        margin-top: 45px;
    }

    .que__es__netdreams__sudoku {
        margin: 5px auto;
    }

    .como__se__juega {
        background-image: url(../images/como-se-juega-sudoku-mobile.webp);
        background-position: center bottom;
        background-size: 100%;
        background-repeat: no-repeat;
    }

    .como__se__juega__caption {
        margin-top: -300px;
        margin-left: -115px;
        width: 95%;
    }

    .como__se__juega__container {
        gap: 150px;
    }

    .como__se__juega__hidden {
        height: 45vh;
    }

    .video__paragraph {        font-size: 2.5rem;
        background-color: #f0f0f0;
        border-radius: 10px;
        padding: 10px 15px;
        border: 1px solid #ddd;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        transition: background-color 0.3s, border-color 0.3s;
        margin-top: 25px;
      
    }
    .como__se__juega__paragraph{
        font-size: 2.1rem;
    }

    .caption-text p {
        width: 100%;
    }

    .widget iframe{
        height: 250px;
    }

}


@media screen and (max-width: 550px) {
    .comment {
        flex-direction: column;
        text-align: center;
    }
    header{
        width: 100%;
        height: 125px;
    }
    .imageCentrado{
        margin-left: 85px;
    }
    
    .caption__descripcion{
        margin-top: -30px;
        width: 90%;
        margin-left: 30px;
    }
    .como__se__juega__hidden{
        height: 40hv;
    }
    
    .caption_final{
        margin-top: 55px;
    }
    
    footer{
        margin-top: 115px;
    }
}

@media screen and (max-width: 530px) {
    .content-footer {
        flex-direction: column;
        gap: 30px;
    }
    
    .logo{
        width: 120px;
    }
    .imageCentrado{
        margin-left: 35px;
    }
    .video__paragraph{
        margin-top: 35px;
    }
    .banner__premios{
        background-size: 720%;
    }
    .como__se__juega__paragraph{
        width: 95%;
        margin-left: 5px;
    }

    .logo-netdreams {
        margin: auto;
    }

    .language p {
        display: none;
    }

    .language{
        width: 70px;
    }

    .language .current {
        border-radius: 15px;
        border: 2px solid #FFF;
        width: 70px;
        padding: 10px 5px;
        gap: 10px;
    }

    .options {
        width: 70px;
        top: 52px;
        border-radius: 15px;
    }
    .options.open {
        width: 70px;
        top: 52px;
        border-radius: 15px;
    }
    .img__premio{
        margin-top: 20px;
        flex-direction: column;
        gap: 15px;
    }
    .img__premio img{
        max-width: 300px;
        margin: 0;
    }
}

@media screen and (max-width: 450px) {
    .descarga__el__juego_final {
        margin-top: 145px;
    }
    header {
        padding: 1rem;
    }
    footer{
        margin-top: 515px;
    }
    .imageCentrado{
        margin-left: 75px;
    }
    .caption__descripcion{
        margin-top: 20px;
    }
    .como__se__juega__caption{
    margin-left: 0px;
    }
    .container-header {
        padding: 0;
        margin-bottom: 50px;
    }

    .start-game h3 {
        font-size: 1.2em;
    }

    .start-game {
        padding: 20px 10px;
    }

    .juega-celular .caption-celular .img__descarga img {
        display: block;
        width: 95%;
        margin: 50px auto 0;
    }

    .select-dificult {
        grid-template-columns: repeat(2, 100px);
        margin: 70px 0 20px;
    }

    .dificultad {
        padding: 10px 10px 5px 10px;
    }

    .navigation.open {
        width: 250px;
    }

    .logo img {
        width: 120px;
    }

    .content-language-menu {
        gap: 20px;
    }

    .comments h2,
    .game .caption h1,
    .video h2,
    .juega-celular h2 {
        font-size: 2.3em;
    }

    .dificultad {
        font-size: 1.2em;
    }

    .img-dificult {
        top: -48px;
    }

    .bodypage {
        padding: 0;
    }

    .como__se__juega.english,
    .como__se__juega {
        background-size: contain;
        /*      background-position: bottom;
 */
        background-position: center 80%;
    }

    .como__se__juega__container {
        gap: 115px;
        width: 95%;
        margin-left: -76px;
    }

    .como__se__juega__hidden {
        height: 12vh;
    }
    .title-video span {
        font-size: 4rem;
    }
    .title-dispositivo-favorito span {
        font-size: 3.5rem;
    }
    .Centrado_Final {
        width: 90%;
        margin-left: 15px;
        margin-top: -250px;
    }
    .Titulo_Final {
        width: 96%;
        margin-left: 15px;
    }
    .title-how-to-play span {
        font-size: 4rem;
    }
    .como__se__juega__paragraph {
        width: 95%;
        margin-left: 25px;
    }
    .content-footer {
        padding: 3.2em 1em;
    }

    .caption__title .title{
        font-size: 2.2rem;
    }

    .banner__premios {
        background-position: right center;
    }

    .caption__title{
        width: 280px;
    }
    .caption__title.aleman{
        width: 300px;
    }
    .caption__title img{
        width: 50px;
    }
    .descarga__el__juego .tiendas {
        justify-content: center;
        display: contents;
        margin-left: 83px;
    }
    .tiendas a {
        width: 45%;
        padding: 70px;
    }
    .descarga__el__juego {
        margin-top: 35px;
        margin-bottom: -9px;
    }
    .widget iframe {
        height: 250px;
        width: 100%;
    }
    .language .current {
        border-radius: 15px;
        border: 2px solid #FFF;
        width: 70px;
        padding: 10px 5px;
        gap: 10px;
        height: 45px;
    }
    .current img {
        width: 40%;
    }
    .icono-drop{
        height: 50px;
        width: 100px;
        margin-left: 5px;
    }
}
@media (max-width: 414px) {
    .language .current {
        border-radius: 15px;
        border: 2px solid #FFF;
        width: 70px;
        padding: 10px 5px;
        gap: 10px;
        height: 40px;
    }
    .current img {
        width: 50%;
    }
    .icono-drop{
        width: 39px;
        height: 50px
    }
    .descarga__el__juego .tiendas {
            justify-content: center;
            display: contents;
            margin-left: 83px;
    }
    .tiendas a {
        width: 45%;
        padding: 45px;
    }
    .descarga__el__juego {
        margin-top: 120px;
        margin-bottom: -145px;
    }
    .descarga__el__juego {
        margin-top: 35px;
        margin-bottom: -10px;
    }
    .widget iframe {
        height: 250px;
        width: 100%;
    }
    .como__se__juega__hidden {
        margin-top:190px; 
    }
    .Centrado_Final {
        width: 90%;
        margin-left: 10px;
        margin-top: -250px;
    }
    .Titulo_Final{
        width: 100%;
        margin-left: 7px;
    }
    .title-video{
        width: 100%;
    }
    .title-video span {
        font-size: 4rem;
    }
    .title-how-to-play span {
        font-size: 4rem;
    }
    .como__se__juega__paragraph {
        width: 100%;
        margin-left: 10px;
    }
    .descarga__el__juego p{
        font-size: 3.3rem;
    }
    .title-dispositivo-favorito span {
        font-size: 4.5rem;
    }
    .descarga__el__juego_final {
        margin-top: 220px;
        margin-bottom: -205px;
    }
    footer {
        margin-top: 730px;
    }
}
@media (max-width: 375px) {
.descarga__el__juego_final {
        margin-top: 310px;
        margin-bottom: -200px;
    }
    footer {
        margin-top: 805px;
    }
}